.navbar{
    width: 100%;
    height: 7em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  }
  
  .logotipo{
    width: 5em;
  }
  
  
  .navbar li{
    display: inline-block;
    margin: 0 2em;
  }
  
  .navbar a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    transition: all 200ms ease;
  }
  
  .navbar a:hover{
    color: rgb(227, 0, 0);
  }